<div class="game-card">
  <div class="game-card__team game-card__team--left">
    <div class="game-card__team-img-wrap">
      <img
        width="50"
        height="50"
        data-src="img/game-0.jpg"
        src="<%- placeholder %>"
        class="b-lazy game-card__team-img"
        title="Название команды"
        alt="Название команды"
      >
    </div>
    <div class="game-card__team-content">
      <div class="game-card__team-name">Название команды</div>
      <div class="game-card__team-leader">( Капитан команды )</div>
    </div>
  </div>
  <div class="game-card__points">
    <a href="#" class="game-card__tournament-img" title="Tournament name">
      <img
        width="50"
        height="50"
        data-src="img/tournament.svg"
        src="<%- placeholder %>" 
        class="b-lazy"
      >
    </a>
    <h3 class="game-card__title">0 : 0</h3>
    <div class="game-card__date">30  января 2020 | 10:48</div>
  </div>
  <div class="game-card__team game-card__team--right">
    <div class="game-card__team-content">
      <div class="game-card__team-name">Название команды</div>
      <div class="game-card__team-leader">( Капитан команды )</div>
    </div>
    <div class="game-card__team-img-wrap">
      <img
        width="50"
        height="50"
        data-src="img/game-1.jpg"
        src="<%- placeholder %>"
        class="b-lazy game-card__team-img"
        title="Название команды"
      >
    </div>
  </div>
</div>