<div class="news-card">
  <a href="#" class="news-card__img-wrap" title="Дзюба мог уехать в «Тоттенхэм». Что об этом известно">
    <img
      width="120"
      height="120"
      data-src="img/news-card.jpg"
      data-src-less="img/news-card.jpg"
      src="<%- placeholder %>"
      class="b-lazy news-card__img"
      alt="Дзюба мог уехать в «Тоттенхэм». Что об этом известно"
    >
  </a>
  <div class="news-card__content">
    <h6 class="news-card__title">
      <a href="#" title="Дзюба мог уехать в «Тоттенхэм». Что об этом известно">Дзюба мог уехать в «Тоттенхэм». Что об этом известно</a>
    </h6>
    <div class="news-card__desc">Жозе Моуринью хотел видеть капитана сборной России в своей команде. Жозе Моуринью хотел видеть капитана сборной России в своей команде.</div>
    <div class="news-card__foot">
      <div class="news-card__date">30 февраля 2020 | 10:48</div>
      <a href="#" class="news-card__btn" title="Дзюба мог уехать в «Тоттенхэм». Что об этом известно">Подробнее</a>
    </div>
  </div>
</div>