<div class="review-card">
  <a href="#" class="review-card__link" title="Никнейм игрока">
    <span class="review-card__img-wrap">
      <img
        width="50"
        height="50"
        data-src="img/user.jpg"
        src="<%- placeholder %>"
        class="b-lazy review-card__img"
        alt="Никнейм игрока"
      >
    </span>
    <span class="review-card__info">
      <span class="review-card__username">Никнейм игрока</span>
      <span class="review-card__date">0 января 2020 | 10:48</span>
    </span>
  </a>
  <div class="review-card__comment">
    Играл в основном на двоих с друзьями, никаких фатальных косяков не замечал поэтому хз че так у всех подгарает. На ps4 полет нормальный был, отличий от предыдущих частей минимум так что заслуженная положительная оценка
  </div>
</div>