<% 
const lazyLoadingClass = !locals.slider ? "b-lazy" : "swiper-lazy";
const classes = {
  main: classnames('trophies-card__img-wrap', {
    "trophies-card__img-wrap--no-img": !locals.img
  })
}
%> 

<div class="trophies-card">
  <div class="<%=classes.main%>">
    <% if (locals.img) { %>
      <img
        width="70"
        height="70"
        data-src="img/trophies-card.jpg"
        src="<%- placeholder %>"
        class="<%=lazyLoadingClass%> trophies-card__img"
        alt="Самый результативный игрок чемпионата FIFA 20"
      >
      <% if(locals.slider) { %>
        <div class="swiper-lazy-preloader"></div>
      <% } %>  
    <% } %> 
  </div>
  <div class="trophies-card__desc">Самый результативный игрок чемпионата FIFA 20</div>
</div>