p {
  @include text_letter_space();
} 
 
.text {
  @include text_letter_space;
  @include text_normal;

  &-big {
    @include text_big;
  }

  &-bold {
    font-weight: 700;
  }
  
  &-semibold {
    font-weight: 600;
  }
  
  &-italic {
    font-style: italic;
  }

  &-center {
    text-align: center;
  }

  &-nowrap {
    white-space: nowrap;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}