<div class="placeholder select select--multiple" title="Дата рождения">
  <div class="placeholder-text"><%=locals.placeholder%></div>
  <div class="select__row">
    <label class="placeholder-wrap select__wrap">
      <select name="#">
          <option value="">День</option>
          <option value="1">1</option>
      </select>
      <svg width="14" height="14">
        <use href="#arrow_down"></use>
      </svg>
    </label>
    <label class="placeholder-wrap select__wrap">
      <select name="#">
          <option value="">Месяц</option>
          <option value="1">1</option>
      </select>
      <svg width="14" height="14">
        <use href="#arrow_down"></use>
      </svg>
    </label>
    <label class="placeholder-wrap select__wrap">
      <select name="#">
          <option value="">Год</option>
          <option value="1">1</option>
      </select>
      <svg width="14" height="14">
        <use href="#arrow_down"></use>
      </svg>
    </label>
  </div>
</div>