<img
  width="1439"
  height="630"
  data-src="img/footer_bg.jpg"
  src="<%- placeholder %>"
  class="b-lazy site-ft__bg"
>

<div class="container site-ft__container">
  <div class="site-ft__row">
    <div class="site-ft__infoblock">
      <%- include('footer/infoblock'); %> 
    </div>
    <div class="site-ft__note">
      <%- include('footer/note'); %> 
    </div>
  </div>
</div>