<% if (!locals.notBtn) { %> 
<a 
  href="#" 
  class="btn btn-primary"
  title="<%= locals.value %>"
>
  <%= locals.value %>
</a>
<% } else { %> 
<span 
  class="btn btn-primary"
>
  <%= locals.value %>
</span>
<% } %>