<div class="profile-popup popup site-hd__popup animate__animated" id="header_login">
  <div class="profile-popup__head">
    <svg width="18" height="18" class="profile-popup__icon">
      <use href="#key"></use>
    </svg>
    <h5 class="profile-popup__title">Вход</h5>
  </div>
  <%- include('form'); %> 
  <div class="profile-popup__foot">
    <a href="#" class="profile-popup__link" title="Регистрация">Регистрация</a>
    <a href="#" class="profile-popup__link" title="Забыли пароль?">Забыли пароль?</a>
  </div>
</div>