<div class="profile profile--unauthorized">
  <a href="#header_login" class="profile__button" title="Войти" data-fancybox>
    <span class="profile__icon">
      <svg width="12" height="12">
        <use href="#user"></use>
      </svg>
    </span>
    <span class="profile__inner">ВХОД</span>
  </a>
  <%- include('popup'); %> 
</div>