<div class="pagination">
  <a href="#" class="pagination__prev" title="Previouse page">
    <svg width="16" height="16">
      <use href="#arrow_left"></use>
    </svg>
  </a>
  <a href="#" class="pagination__link" title="page 1">1</a>
  <a href="#" class="pagination__link" title="page 2">2</a>
  <a href="#" class="pagination__link" title="page 3">3</a>
  <div class="pagination__dots">...</div>
  <a href="#" class="pagination__link" title="Last page">15</a>
  <a href="#" class="pagination__next" title="Next page">
    <svg width="16" height="16">
      <use href="#arrow_right"></use>
    </svg>
  </a>
</div>