/*
 * ==================================================================================
 * Fonts
 * ==================================================================================
 */

$PNFont: "ProximaNova", sans-serif;

/* 
 * ==================================================================================
 * colors
 * ==================================================================================
 */

:root {
  --black: #111111;
  --white: #ffffff;
  --blue: #000270;
  --dark-blue: #000055;
  --blue-green: #0052CD;
  --blue-transparent: #013481;
  --blue-semi-dark: #000398;
  --light-blue: #27A8DF;
  --yellow: #FFDC17;
}

/*
 * ==================================================================================
 * endpoints
 * ==================================================================================
 */

$less: 370px;
$xx: 480px;
$xs: 578px;
$sm: 768px;
$md: 992px;
$lg: 1190px;

/* 
 * ==================================================================================
 * default... vars for bootstrap and etc.
 * ==================================================================================
 */

:root {
  --column-gap: 50px;
  
  --con-side: 15px;
  --con-width: #{$lg};
}
